nav{
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}

nav li
{
    display:inline;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;

}
nav a
{
    display:inline-block;
    padding:10px;
  color: white;
}


body
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;
    background-color: white;
}



h1
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
    font-size:60px;
    text-align: center;

}
h2
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
      text-align: center;

}
h3
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
      text-align: center;


}

p
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
      text-align: center;

}
ol
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;

}
ul
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
}
li
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    display:inline;
    color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
