body
{
    font-family:    Helvetica，Arial, sans-serif;
    color: black;
    background-color: white;
}

nav
{
    font-family: Script;
    color: black;
}
h1
{
    font-family: impact;
    color: black;
}
