body
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;    color: black;
    background-color: white;
}

nav
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;
}
h1
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
}
h2
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
}
h3
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
}

p
{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: black;
}
ul
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;
}
li
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;
}
