body
{
    font-family: Calibri ;
    color: black;
    background-color: white;
}
nav
{
    font-family: Calibri, 'Times New Roman', Times, serif;
    color: white;
}
h1
{
    font-family: Calibri, 'Times New Roman', Times, serif;
    color: white;
}
